@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
}

#app {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
}

body {
	background-color: #242424;
	@apply text-zinc-900;
}

.container {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 2rem;
}

.btn {
	@apply bg-green-600 text-white text-center cursor-pointer hover:bg-emerald-500 transition py-1 px-3 rounded-xl;
}

.btn.disabled {
	@apply hover:bg-green-600 cursor-auto;
}

.link {
	@apply hover:text-zinc-200 cursor-pointer transition;
}

.error-message {
	@apply text-red-500 text-sm mt-0.5 ml-2.5;
}

input {
	@apply w-full border-2 rounded-xl py-1 px-4 text-zinc-200 focus:outline-0;
	background-color: #242424;
}

input.error {
	@apply border-red-500;
}

.modal-enter-active,
.modal-leave-active {
	transition: all 0.2s ease;
}

.modal-enter-from,
.modal-leave-to {
	opacity: 0;
}


@media (max-width: 475px) {
    #app {
        padding: 2rem 0.5rem;
    }
}